
#root > section { margin: 1em; }

.actions a { padding: 0.5rem 0.5rem; }

.is-bold { font-weight: bold; }

.has-margin { margin-top: 1em; margin-bottom: 1em; }

.panel.panel-list .panel-block { flex-direction: column; }

.panel.panel-list .panel-block div { width: 100%; }

.panel.for-block .panel-block { display: block; }

.panel-heading.is-small { padding: 0 .75em; }

.header-body { background-color: #222; color: #ddd; }

.button.is-fullwidth { margin: 1em 0; }

.button.is-fullwidth.no-gap { margin: 0 0; }